<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>Nombre de visite</title>
  <link rel="stylesheet" href="style.css">
  <script src="script.js"></script>
</head>
<body>
    <div>
        <h1>Bonjour c'est votre visiste numero : {{ app.session.get('nbVisite') }}</h1>
    </div>
</body>
</html>